<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django course</title>
</head>
<body>

    {% block heading %}
    <h1>Lesson 2 of Django!!</h1>
    {% endblock heading %}

    {% block content %}
    <h2>Regex:</h2>
    <h3>c[abt]t == cat, cbt, ctt</h3>
    <h3>(d)+? OR d == d.</h3>
    <h3>d(og)+? == dog.</h3>
    <h3>d(og)+ == dogog.</h3>
    <h3>d(og)+? == != dogogog.</h3>
    {% endblock content %}

</body>
</html>

