<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th><h2>Number</h2></th>
        <th><h2>Type</h2></th>
        <th><h2>Link</h2></th>
    </tr>
    <tr>
        <td><h3>1</h3></td>
        <td><h3>Text</h3></td>
        <td><h3><a href="{% url 'text' %}" type="button">Click me</a></h3></td>
    </tr>
    <tr>
        <td><h3>2</h3></td>
        <td><h3>File</h3></td>
        <td><h3><a href="{% url 'file' %}" type="button">Click me</a></h3></td>
    </tr>
    <tr>
        <td><h3>3</h3></td>
        <td><h3>Redirect</h3></td>
        <td><h3><a href="{% url 'redirect' %}" type="button">Click me</a></h3></td>
    </tr>
    <tr>
        <td><h3>4</h3></td>
        <td><h3>JSON</h3></td>
        <td><h3><a href="{% url 'json' %}" type="button">Click me</a></h3></td>
    </tr>
</table>>
</body>
</html>