<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>City: Kyiv</h1>
    <h1>Mayor: {{name}} {{surname}}</h1>
    <h1>Years old: {{int}}</h1>
</body>
</html>